table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dict:first-of-type {
  margin-top: 2rem;
}
.dict:last-of-type {
  margin-bottom: 2rem;
}
@media (min-width: 940px) {
  .dict:last-of-type {
    margin-bottom: 4rem;
  }
}

.dict-wrapper {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
  padding: 0 2rem;
}

.dict-controls {
  margin-top: 2em;
  display: flex;
  align-items: center;
}

.dict-button {
  align-self: flex-start;
  margin-right: 1em;
  border: 2px solid;
  border-radius: 4px;
  font: inherit;
  font-size: 1.2em;
  padding: .4em 1.2em;
  color: inherit;
  background-color: transparent;
}
.dict-button:focus {
  outline: none;
  background-color: white;
}
.dict-button:active {
  border-color: var(--color-border);
}

.dict-response {
  flex: 1;
  word-break: break-word;
}

.smooth-appear {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.disappear {
  opacity: 0;
}
.dict-button.smooth-disappear:focus {
  outline: inherit;
  border-color: inherit;
  background-color: inherit;
}

.dict-protip {
  margin-top: 2rem;
  padding: 1.5rem 2rem 2rem 2rem;
  border: 1px solid hsla(0,0%,0%,.06);
  border-radius: 6px;
  background: var(--color-accent) linear-gradient(hsla(0,0%,100%,.85), hsla(0,0%,100%,.85));
}
.dict-protip h2 {
  margin: 0 0 .5rem 0;
}
.dict-protip strong {
  font-weight: 600;
}

